body {
    margin: 0px;
    font-family: sans-serif;
  }

  /*navbar*/
  .nav-container {
    position: sticky;
    z-index: 3;
    top: 0;
  }
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #c88066;
  }
  
  .navbar-titulo {
    margin-left: 20px;
    color: #fff;
    margin-top: 25px;
    font-family: sans-serif;

  }
  
  .ver-carrito {
    background-color: #e8c1c1;
    border-radius: 30px;
    font-size: 40px;
    margin-right: 20px;
    cursor: pointer;
  }
  
 
  .shop-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    margin: 10px;
    border-radius: 30px;
  }
  
  .card > img {
    width: 90%;
    height: 250px;
  }
  
  .precio {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color:#c88066;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
  
  /*modal content*/
  .modal-div {
    width: 80%;
    margin: 0 10%;
    max-height: 88vh;
    color: #fff;
    background-color: #c88066;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    overflow: auto;
    top: 80px;
    scrollbar-color: none;
  }
  
   .modal-div::-webkit-scrollbar {
    display: none;
  } 

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #c88066;
    color: #fff;
    width: 100%;
  
  }

  img{
    border-radius: 30px;
  }

.contenido-carrito{
  width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #c88066;
}

  .modal-header-button {
    cursor: pointer;
    height: 40px;
    background-color:beige;
    border-radius: 20px;
  }
  
  .modal-div > .modal-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 10px;
  }
  
  .modal-div > div > img {
    height: 120px;
    width: 120px;
  }
  
  .compra-total {
    font-size: 25px;
    padding: 20px;
    text-align: center;
    padding-top: 20px;
    border-radius: 30px;
    background-color: #e8c1c1;
  }
  
.clima-div{
  background-color:#c88066;
  height: 100px;
  display: flex;
  justify-content: space-around;
}


  /*delete button product*/
  .boton-borrar {
    cursor: pointer;
    color: red;
    background-color: white;
    border-radius: 10px;
  }
  
  
  
